$dark-text-color: #1a1a1a;
$light-text-color: #ffffff;
$secondary-text-color: #737373;

$primary-color: #ff4d4d;
$secondary-color-1: #ffa500;
$secondary-color-2: #23a6f0;
$star-gold-color: #f3cd03;
$hover-color: #2a7cc7;
$active-color: #20609b;

$roboto-font-path: "/fonts/";
$font-family-roboto: "Roboto", sans-serif;

$border-radius: 0.3125rem;

$letter-spacing: 0.0125rem;