@use "../abstract" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  color: $dark-text-color;
  background-color: $light-text-color;
}

section {
  padding: $section-padding 0;
  margin: $section-padding 0;
}

section:first-of-type {
  margin-top: 0;
}

section:last-of-type {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}