@use "../abstract" as *;

.btn {
  @extend %btn-reset;
  padding: 0.725rem 1rem;
  border-radius: $border-radius;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: $letter-spacing;
  color: $secondary-color-2;
  border: 1px solid transparent;
  transition: 
    color ease-in-out .3s, 
    background-color ease-in-out .3s, 
    border-color ease-in-out .3s;

  &__arrow-icon {
    margin-left: 1rem;
  }

  &__arrow-icon path {
    transition: fill ease-in-out .3s;
  }

  &:hover &__arrow-icon path{
    fill: $light-text-color;
  }
}

.btn--fill {
  background-color: $secondary-color-2;
  color: $light-text-color;

  &:hover {
    border-color: $secondary-color-2;
    background-color: $light-text-color;
    color: $secondary-color-2;
  }
}

.btn--outline {
  border-color: $secondary-color-2;

  &:hover {
    background-color: $secondary-color-2;
    color: $light-text-color;
  }
}