@use "../abstract" as *;

.hero {
  background-color: $dark-text-color;

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 2.5rem;
  }

  &__content {
    max-width: 500px;
    color: $light-text-color;
  }

  &__title {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  
  &__description {
    margin: 0;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 3rem;
  }

  &__cta {
    display: flex;
    align-items: center;
    gap: 1.75rem;
  }
}